<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core">

    <cc:interface>
        <cc:attribute name="selectAction" method-signature="void action()" />
        <cc:attribute name="resetAction" method-signature="void action()" />
        <cc:attribute name="closeAction" method-signature="void action()" />
        <cc:attribute name="update" />
        <cc:attribute name="showMessages" default="false" />
    </cc:interface>

    <cc:implementation >
        <p:toolbar>
            <f:facet name="left">
                <p:commandButton rendered="#{cc.attrs.selectAction ne null}" value="Pesquisar" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" actionListener="#{cc.attrs.selectAction}" icon="ui-icon ui-icon-search" id="selectAction" update="#{cc.attrs.update}"/>
                <p:commandButton rendered="#{cc.attrs.resetAction ne null}" value="Limpar"  actionListener="#{cc.attrs.resetAction}" icon="ui-icon ui-icon-refresh" update="#{cc.attrs.update}" />
                <p:commandButton rendered="#{cc.attrs.closeAction ne null}" value="Sair" onclick="PF('lovDialog').hide()" icon="ui-icon ui-icon-close" actionListener="#{cc.attrs.closeAction}"/>
            </f:facet>
        </p:toolbar>
        <p:messages rendered="#{cc.attrs.showMessages}" autoUpdate="true" /> 
        <p:defaultCommand target="selectAction"/>
    </cc:implementation>

</html>

