<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog widgetVar="statusDialog" style="text-align: center" modal="true" showHeader="false" closable="false" resizable="false" draggable="false">
        <p:graphicImage url="./imagens/ajaxloadingbar.gif" />
        <br />
        Por favor, aguarde...
    </p:dialog>

    <p:dialog showEffect="" hideEffect="" modal="true" showHeader="false" widgetVar="lovDialog" closable="true" draggable="true" resizable="false" height="600" width="700" appendTo="@(body)">
        <p:outputPanel id="painelLov">
            <ui:include src="#{aplicacaoBean.lov}" />
        </p:outputPanel>
    </p:dialog>  

</html>

