<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
        <p:toolbar>
            <f:facet name="left">
                <p:commandButton value="Gym Cloud" readonly="true" disabled="true"/>
            </f:facet>
            <f:facet name="right">
                <p:commandButton actionListener="#{loginBean.logout()}" onstart="PF('statusDialog').show()" value="Sair" icon="ui-icon-power" />
            </f:facet>
        </p:toolbar>
</html>

