<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"   
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <p:dialog  header="Lista de Valores - Sistemas" showEffect="" hideEffect="" modal="true" showHeader="true" widgetVar="SistemasLov" closable="true" draggable="true" resizable="false" height="600" width="700" appendTo="@(body)">
        <ui:include src="/lov/SistemasLov.xhtml"/>
    </p:dialog>    
</html>