<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"   
      xmlns:ct="http://java.sun.com/jsf/composite/components/toolbar"
      xmlns:f="http://java.sun.com/jsf/core"> 
    
        <p:panel header="Lista de Valores - Sistemas">
            <h:form id="formLov">
                <script>
                    $(document).keyup( function(e) {
                        if (e.keyCode == 27) {
                            fechar();
                        }
                    });
                </script>
                <p:remoteCommand name="fechar" onstart="PF('lovDialog').hide()"/>
                <p:fieldset legend="Parâmetros">
                    <h:panelGrid columns="2">
                        <h:outputText value="Código : " />
                        <p:inputText id="sistemasLovBeanSisCodigo" value="#{sistemasLovBean.sisCodigo}"/>
                        <h:outputText value="Descrição : " />
                        <p:inputText value="#{sistemasLovBean.sisDescricao}"/>
                    </h:panelGrid>
                    <br></br>
                    <ct:toolbarLov selectAction="#{sistemasLovBean.select()}"
                                   resetAction="#{sistemasLovBean.reset()}"
                                   closeAction="#{sistemasLovBean.removeFoco()}"
                                   update=":formLov"
                                   showMessages="true" />                    
                </p:fieldset>
                <p:focus for="sistemasLovBeanSisCodigo" rendered="#{sistemasLovBean.rendered}" />
                <br></br>
                <p:fieldset legend="Resultados" >
                    <p:dataTable value="#{sistemasLovBean.listaSistemas}" var="sistemas"
                                 paginator="true" rows="500"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="500,1000,5000">
                        <p:column style="width:25px">
                            <p:commandButton icon="ui-icon-check" onclick="$('#{sistemasLovBean.retorno1}').val('#{empresas.empEmpresa}');$('#{sistemasLovBean.retorno2}').val('#{empresas.empRazsoc}');PF('lovDialog').hide();$('#{sistemasLovBean.retorno1}').focus();" actionListener="#{sistemasLovBean.removeFoco()}"/>
                        </p:column>                        
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="Sistema" />
                            </f:facet>
                            <p:commandLink value="#{sistemas.sisCodigo}" onclick="$('#{sistemasLovBean.retorno1}').val('#{sistemas.sisCodigo}');$('#{sistemasLovBean.retorno2}').val('#{sistemas.sisDescricao}');PF('lovDialog').hide();$('#{sistemasLovBean.retorno1}').focus();" actionListener="#{sistemasLovBean.removeFoco()}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                Descrição
                            </f:facet>
                            <p:commandLink value="#{sistemas.sisDescricao}" onclick="$('#{sistemasLovBean.retorno1}').val('#{sistemas.sisCodigo}');$('#{sistemasLovBean.retorno2}').val('#{sistemas.sisDescricao}');PF('lovDialog').hide();$('#{sistemasLovBean.retorno1}').focus();" actionListener="#{sistemasLovBean.removeFoco()}"/>
                        </p:column>
                    </p:dataTable>
                </p:fieldset>
            </h:form>
        </p:panel>

</html>

