<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core">

    <cc:interface>
        <cc:attribute name="idValue" default="sisCodigo"/>
        <cc:attribute name="value" />
        <cc:attribute name="focus" default="false" />
        <cc:attribute name="required" default="false" />
        <cc:attribute name="requiredMessage" />        
    </cc:interface>

    <cc:implementation>
        <p:focus rendered="#{cc.attrs.focus}" for="#{cc.attrs.idValue}" />
        <p:inputText id="#{cc.attrs.idValue}" onkeyup="abreLov(this, event,'btnSistemasLov')" size="3" value="#{cc.attrs.value}" required="#{cc.attrs.required}" requiredMessage="#{cc.attrs.requiredMessage}">
            <p:ajax event="blur" update="sisDescricao" />
        </p:inputText>
        <p:commandButton id="btnSistemasLov" icon="ui-icon-arrowthickstop-1-s" tabindex="-1" actionListener="#{sistemasLovBean.setaParametros}"  oncomplete="PF('lovDialog').show();" update=":painelLov" process="@this" >
            <f:attribute name="lov" value="SistemasLov" />
            <f:attribute name="retorno1" value="#{cc.attrs.idValue}" />
            <f:attribute name="retorno2" value="sisDescricao" />
        </p:commandButton>
        <p:inputText id="sisDescricao" size="55" readonly="true" tabindex="-1" styleClass="disabled" value="#{sistemasEntitiesBean.getSisDescricao(cc.attrs.value)}" />
    </cc:implementation>

</html>
