<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cf="http://java.sun.com/jsf/composite/components/fields"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:body>
        
        <p:fieldset legend="Módulos">
            <h:form id="formFiltroModulos">
                <p:focus />
                <h:panelGrid border="0" width="100%" columns="2" columnClasses="formLabel" >

                    <h:outputText value="Código" />
                    <p:inputText size="10" value="#{modulosBean.modCodigo}" />

                    <h:outputText value="Sistema" />
                    <cf:sistemas value="#{modulosBean.sisCodigo}" />

                    <h:outputText value="Caminho" />
                    <p:inputText size="50" value="#{modulosBean.modCaminho}" />

                    <h:outputText  value="Descrição" />
                    <p:inputText size="50" value="#{modulosBean.modDescricao}" />

                </h:panelGrid> 

                <p:toolbar>
                    <f:facet name="left">
                        <p:commandButton id="btnConsultar" value="Pesquisar" icon="ui-icon-search" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"  actionListener="#{modulosBean.select()}" update=":formResultadoModulos" />
                        <p:commandButton value="Limpar" icon="ui-icon-arrowrefresh-1-w"  actionListener="#{modulosBean.reset()}" update=":formResultadoModulos,:formFiltroModulos" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/> 
                        <p:commandButton value="Cadastrar Novo Módulo" icon="ui-icon-plusthick" actionListener="#{modulosBean.setOperacao('I')}" update=":formEdicaoModulos" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide();PF('dlModulos').show()"/> 
                    </f:facet>
                </p:toolbar>

                <p:defaultCommand target="btnConsultar" />

            </h:form>

            <p:separator />

            <h:form id="formResultadoModulos">

                <p:dataTable value="#{modulosBean.listaModulos}" var="modulos" 
                             paginator="true" rows="50"
                             rowsPerPageTemplate="50,100,200">

                    <p:column style="width:50px">
                        <p:commandButton icon="ui-icon-pencil" title="Editar" actionListener="#{modulosBean.setOperacao('A')}" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide();PF('dlModulos').show()" update=":formEdicaoModulos">
                            <f:setPropertyActionListener value="#{modulos}" target="#{modulosBean.selectedModulo}"  />
                        </p:commandButton>
                    </p:column>

                    <p:column sortBy="#{modulos.modCodigo}" style="text-align: left;">
                        <f:facet name="header">
                            <h:outputText value="Código" />
                        </f:facet>
                        <h:outputText value="#{modulos.modCodigo}"/>
                    </p:column> 

                    <!--
                    <p:column sortBy="#{modulos.sisCodigo}" style="text-align: left;">
                        <f:facet name="header">
                            <h:outputText value="Sistema" />
                        </f:facet>
                        <h:outputText value="#{modulos.sisCodigo}"/>
                    </p:column>   
                    -->

                    <p:column sortBy="#{modulos.modCaminho}" style="text-align: left;">
                        <f:facet name="header">
                            <h:outputText value="Caminho" />
                        </f:facet>
                        <h:outputText value="#{modulos.modCaminho}"/>
                    </p:column>                 

                    <p:column sortBy="#{modulos.modDescricao}" style="text-align: left;">
                        <f:facet name="header">
                            <h:outputText value="Descrição" />
                        </f:facet>
                        <h:outputText value="#{modulos.modDescricao}"/>
                    </p:column>                 

                </p:dataTable>

            </h:form>


            <!-- Edição -->
            <p:dialog width="600" height="200" header="Modulos" showEffect="" hideEffect="" modal="false" widgetVar="dlModulos" draggable="true" resizable="true" closable="true"  >  

                <h:form id="formEdicaoModulos">
                    <h:panelGrid border="0" width="100%" columns="2"  >

                        <h:panelGroup>
                            Caminho
                        </h:panelGroup>
                        <p:inputText id="modCaminho" size="80" maxlength="400" value="#{modulosBean.selectedModulo.modCaminho}" required="true" requiredMessage="Campo descrição deve ser informado!"/>

                        <h:panelGroup>
                            Descrição
                        </h:panelGroup>
                        <p:inputText size="80" maxlength="255" value="#{modulosBean.selectedModulo.modDescricao}" required="true" requiredMessage="Campo Texto deve ser informado!" />


                    </h:panelGrid> 

                    <p:toolbar>
                        <f:facet name="left">
                            <p:commandButton value="Inserir" rendered = "#{modulosBean.operacao eq 'I'}" icon="ui-icon-disk" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" actionListener="#{modulosBean.insert()}" update=":formResultadoModulos,:formFiltroModulos,:formEdicaoModulos" /> 
                            <p:commandButton value="Alterar" rendered = "#{modulosBean.operacao eq 'A'}" icon="ui-icon-check" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" actionListener="#{modulosBean.update()}" update=":formResultadoModulos,:formFiltroModulos,:formEdicaoModulos"  /> 
                            <p:commandButton value="Excluir" rendered = "#{modulosBean.operacao eq 'A'}" icon="ui-icon-closethick" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" actionListener="#{modulosBean.delete()}" update=":formResultadoModulos,:formFiltroModulos,:formEdicaoModulos" />  
                            <p:commandButton value="Sair" icon="ui-icon-power" immediate="true" onstart="PF('statusDialog').show()" oncomplete="PF('dlModulos').hide();PF('statusDialog').hide()"/>  
                        </f:facet>
                    </p:toolbar>    

                    <p:focus for="modCaminho" />
                    <p:messages />

                </h:form>

            </p:dialog>
        </p:fieldset>
    </h:body>
</html>

