<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        
        <script type="text/javascript" src="#{request.contextPath}/scripts/util.js"></script>   
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/style.css" /> 
        <f:facet name="first">
            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
            <title>Gym Cloud</title>
        </f:facet>
    </h:head>

    <f:view >
        <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit style="overflow: hidden; border: none" position="north" size="50" resizable="true" closable="true" collapsible="true" rendered="true">
                    <ui:include src="/template/header.xhtml" />
                </p:layoutUnit>
                <p:layoutUnit position="west" size="320" header="Menu" collapsible="true">
                    <h:form>
                        <p:menu model="#{menuBean.menu}" style="width:300px"/>
                    </h:form>
                </p:layoutUnit>
                <p:layoutUnit position="center" >
                    <h:panelGroup id="centerContentPanel">
                        <ui:include src="./template/mainPage.xhtml"/>
                    </h:panelGroup>
                </p:layoutUnit>
                <ui:include src="./template/dialogs.xhtml" />

            </p:layout>

        </h:body>
    </f:view>


</html>

