<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <meta charset="UTF-8" />
        <title>Gym Cloud</title>
    </h:head>
    <style>
        body {
            background-image: url("./imagens/bg.gif");
            background-repeat: repeat;
        }
        .ui-widget {
            font-family: verdana;
            font-size: 12px;
        }
    </style>
    <ui:include src="./template/dialogs.xhtml" />

    <h:body onload="PF('dlgLogin').show()">
        <p:dialog showEffect="" widgetVar="dlgLogin" width="500" style="text-align: center" header="Login" closable="false" draggable="false" resizable="false">
            <p:graphicImage rendered="true" url="/imagens/logo_gym_cloud.jpg" />
            <h:form id="formLogin">
                <br /><br />
                <div style="width: 200px; margin: 0 auto;" >
                    <p:outputLabel for="usuario" value="Usuário" style="float: left; font-size: 16px; font-weight: bold"/>
                    <p:inputText style="width: 200px" id="usuario" value="#{loginBean.usuario}"/>
                    <br /><br />
                    <p:outputLabel for="senha" value="Senha" style="float: left; font-size: 16px; font-weight: bold"/>
                    <br />
                    <p:password id="senha" style="width: 200px" value="#{loginBean.senha}"/>
                </div>
                <br /><br />
                <p:commandButton icon="ui-icon-check" value="Entrar" style="width: 150px" actionListener="#{loginBean.login()}" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()"/>
                <p:commandButton icon="ui-icon-refresh" value="Limpar" style="width: 150px" actionListener="#{loginBean.reset()}" onstart="PF('statusDialog').show()" oncomplete="PF('statusDialog').hide()" update=":formLogin"/>
                <br /><br />
                <p:messages autoUpdate="true" />
            </h:form>
        </p:dialog>

    </h:body>
</html>

